.container {
    flex-direction: column;
    background-color: #f3f5fa;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;/*    background-image: url("/common/images/bg.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    background-position: center bottom;*/
}

.topImage {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 386px;
    flex-direction: column;
/*    background-color:#F1F4F7 ;*/
    background-image: url("/common/images2/yichengDetails_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 82px;
}

.box {
/*    flex-direction: column;*/
}

.dialog-main {
    width: 300px;
    margin-bottom: 40%;
}

.dialog-ca {/*    cadialog.png*/

}

.dialog-div {
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    justify-content: center;
    padding: 20px 20px 30px 20px;
}

.dialog-div-ca {
    background-image: url("/common/images/cadialog.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 20px 20px 30px 20px;*/
}

.dialog-div .close {
    justify-content: flex-end;
}

.dialog-div .close image {
    width: 14px;
    height: 14px;
}

.dialog-div .success-pic {
    margin-bottom: 15px;
    justify-content: center;
}

.dialog-div .success-pic image {
    width: 100px;
    height: 50px;
}

.dialog-info {
    align-content: center;
    flex-direction: column;
}

.dialog-div .dialog-h1 {
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.btn-go {
    background-color: #ffffff;
    border: 1px solid #FFBE4D;
    color: #FFBE4D;
    height: 40px;
    border-radius: 9px;
    width: 210px;
    margin-top: 20px;
}

.btn-go text {
    font-size: 14px;
    color: #C8102E;
}



.dialog-div .dialog-h1 div {
    justify-content: center;
}

.dialog-div .dialog-h1 text {
    color: #333;
    font-size: 14px;
}

.dialog-div .dialog-h2 {
    justify-content: center;
}

.dialog-div .dialog-h2 text {
    color: #666;
    font-size: 12px;
}

.box-item {
    display: flex;
/*    flex: 1;*/
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
/*    border: 1px solid red;*/
/*    padding-left: 11px;*/
/*    padding-right: 15px;*/
}

/*下拉菜单开始*/

.side-menu {
    background-color: #fff;
    position: fixed;
    top: 80px;
    right: 0;
    width: 45%;
    padding: 10px 20px;
    border-radius: 20px 0  0  0;
    flex-direction: column;
    height: 180px;
    box-shadow: -5px 6px 10px #D8E4F2;
}

.side-menu .menu-item {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
}

.menu-item-text {
    font-size: 14px;
    color: #111;
}

.side-menu .menu-item-last {
    border-bottom: 0px solid #EEEEEE;
}

.side-menu .menu-item image {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.side-menu .menu-item text {
    font-size: 14px;
}

/*/下拉菜单结束*/

.header {
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-top: 40px;
    padding-bottom: 5px;
}


.header-text {
    font-size: 16px;
    color: #000000;

}

.header image {
    height: 18px;
    width: 18px;
}

/* @media (dark-mode: false) {
    .header {
        position: fixed;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        padding-top: 40px;
        padding-bottom: 5px;
        background-image: url("/common/images/black.png");
        background-repeat: no-repeat;
        background-size: 100% 80px;

    }

    .header-text {
        font-size: 16px;
        color: white;
    }

    .header-menu {
        width: 40px;
        background-image: url("/common/images/icon-mean-white.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }

    .header-back {
        width: 40px;
        margin-left: 15px;
        background-image: url("/common/images/icon-back-white.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }
} */

.header-back {
    width: 40px;
    margin-left: 15px;
    background-image: url("/common/images/icon-back.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.header-menu {
    width: 40px;
    background-image: url("/common/images/icon-menu.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.agenda-main {
    padding-top: 20px;
/*    padding-right: 25px;*/
/*    padding-bottom: 20px;*/
}

.agenda-main .orderdiv {
/*    width: 25px;*/
/*    height: 22px;*/
    width: 49px;
    height: 49px;
    padding: 10px;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.agenda-main .orderIsSelect {
    background-color: #C8102E;
}
.agenda-main .orderUnIsSelect {
    background-color: #C9CFD5;
}
.orderdiv image{
    width: 16px;
    height: 15px;
}
.agenda-main .orderdiv text {
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}
.agenda-info-box .order{
    width: 49px;
    height: 49px;
    position: absolute;
    right: 0px;
    top: -34.5px;
/*    border: 1px solid red;*/
}
.order image {
    width: 49px;
    height: 49px;
}

.agenda-main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
/*    max-lines: 2;*/
/*    max-height: 120px;*/
/*    padding-left: 25px;*/
/*    padding-right: 25px;*/
}

.agent-title {
    flex-shrink: 0;
    padding-left: 18px;
    padding-right: 18px;
/*    max-height: 40px;*/
}

.agent-title text {
    font-size: 16px;
    color: #111;
    line-height: 20px;
}

.agent-des {
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 16px;
    margin-top: 5px;
    flex-direction: column;
}

.agent-des .time , .agent-des .address {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
/*    height: 20px;*/
    margin-bottom: 5px;
}
.time .time-icon,.address .address-icon{
    width: 11px;
    height: 11px;
    margin-right: 4px;
    margin-top: 3px;
}
.agent-des text {
    font-size: 11px;
    line-height: 17px;
    color: #999999;
}
.agenda-info-box{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
/*    flex: 1;*/
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 30px;
    position: relative;
    z-index: 99;
}
.line {
    border-bottom: 1px solid #E9EAEC;
    height: 1px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -10px;
}

.line-padding {
    height: 15px;
    width: 100%;
}

.detail-title {
    display: flex;
    flex-shrink: 0;
    margin-bottom:0px;
}
.detail-title .red-line{
    width: 3px;
    height: 13px;
    background-color: #CE0E2D;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 3px;
}
.agenda-appointment-box{
/*    border: 1px solid red;*/
    position: absolute;
    width: 100%;
    top: 18px;
    display: flex;
    justify-content: flex-end;
}
.agenda-appointment-box image {
    width: 20px;
    height: 19px;
}
.detail-title .red-lines{
    width: 3px;
    height: 13px;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 5px;
}
.detail-title .orange-lines{
    width: 3px;
    height: 13px;
    border-radius: 1px;
    margin-right: 7px;
    margin-top: 1px;
    background-color: #FFBE4D;
}
.detail-title text {
    font-size: 14px;
    color: #111;
/*    height: 20px;*/
    line-height: 16;
}

.detail-content {
    margin: 10px 10px 10px 11px;
    display: flex;
/*    flex: 1;*/
    flex-direction: column;
/*    flex-wrap: wrap;*/
/*    border: 1px solid red;*/
/*      margin-top: 6px;*/
}
.desc-box{
    height:70px;
    overflow: hidden ;
    line-height: 18px;
    font-size: 12px;
    color: #293C5D;
    margin-top: 8px;
}

.desc-box,.detail-content{
    margin-top: 6px;
    flex-shrink: 0;
}
.detail-content text, .desc-box text{
    line-height: 18px;
    font-size: 12px;
    color: #293C5D;
}
.desc-boxs{
    line-height: 18px;
    font-size: 12px;
    color: #293C5D;
    min-height: 70px;
    margin-top: 8px;
}
.desc-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.desc-more image{
    width: 8px;
    height: 8.5px;
    margin-right: 5px;
}
.desc-more text{
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #a7afbc;
}
.agent-name {
/*    background-image: url("/common/images/title-line.png");*/
/*    width: 30%;*/
    border-radius: 10px;
/*    background:linear-gradient(to left, rgba(200,200,200,0) 70%, rgba(200,200,200,0.7) 95%);*/
/*    background: linear-gradient(270deg, rgba(241,244,247,0) 0%, #E2E9F1 100%);*/
    background: linear-gradient(270deg, rgba(241,244,247, 0.2) 40%, rgba(255,190,77, 0.2) 98%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3px 14px;
    padding-left: 11px;
    padding-top:3px;
    padding-bottom: 3px;

/*    border: 1px solid red;*/
}
.mb10{
    margin-bottom: 10px;
}
.agent-name text {
    font-size: 12px;
    color: #FFBE4D;
    font-weight: bold;
}

.agenda-item {
    display: flex;
    margin-top: 15px;
}
.agenda-item2{
    display: flex;
    flex:2;
    margin-top: 15px;
    flex-direction: column;
    margin-top: 2px;
/*    align-items: flex-start;*/
}
.agenda-item .time {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding-top: 17px;
}
.agenda-item .time .start-time{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.agenda-item .time .end-time{
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
}
.banner {
    margin-bottom: 20px;

}

.banner image {
    border-radius: 10px;
    width: 350px;
    height: 550px;
    object-fit: fill;
    box-shadow: 0 8px 15px #CFDFF8;
}

.agenda-item .time text {
    font-size: 14px;
    color: #111;
    line-height: 18px;
}
.agenda-item .time .fuTime {
    font-size: 12px;
    color: #999999;
}

.agenda-item .detail {
/*    border: 1px solid red;*/
    width: 100%;
    display: flex;
/*    flex-shrink: 0;;*/
/*    flex-grow: 1;*/
    flex-direction: column;
/*    background-color: #FAFAFA;*/
/*    border: 1px solid #E7E8EB;*/
    border-radius: 8px;
/*    padding-left: 15px;*/
/*    padding-right: 15px;*/
/*    padding-top: 12px;*/

    position: relative;
}
.pb30{
    padding-bottom: 30px;
}
.detail .ibc-title {
/*    height:20px;*/
    display: flex;;
    flex-shrink: 0;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #333333;
    background-color: #FAFAFA;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 18px;
    width: 100%;
/*    line-height: 21px;*/
/*    max-lines: 3;*/
/*    overflow: hidden ;*/
/*    text-overflow: ellipsis;*/
/*    height: 63px;*/
    align-items: center;
/*    margin-right: 20px;*/
}
.pb18{
    padding-bottom: 18px;
}
.detail .mr0{
    margin-right: 0;
    padding-right: 24px;
}
.detail-newBox{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding-bottom: 18px;
/*    margin-right: 20px;*/
    padding-left: 15px;
    padding-right: 15px;
}
.detail .mr30{
  margin-right: 30px;
}

.agenda-item .detail .guest {

}

.agenda-item .detail .guest text {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    max-lines: 2;
}

.agenda-item .detail .guest-agenda {
    padding: 5px;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.agenda-item .detail .guest-agenda text {
    font-size: 12px;
    margin-right: 10px;
/*    color: #666;*/
    color: #b9b9bb;
    line-height: 18px;

}

.agenda-item-text {
    font-size: 12px;
    color: #666;
    line-height: 18px;
}

.guest-line {
    font-size: 12px;
    color: #666;
    max-lines: 2;
}

.guest-height {
    height: 24px;
}

.list-wrapper {
    position: absolute;
    top: 82px;
/*    height: 90%;*/
/*    padding-bottom: 30px;*/
    padding-bottom: 82px;
    background-color: transparent;
}
.yicheng_details_bg{
    width: 100%;
    height: 386px;
    position: absolute;
    top: 0;
    right: 0;
}
.guest-item {
    background-image: url("/common/images/a-item-bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 82px;
    height: 82px;
    margin-left: 20px;
    box-shadow: 0px 6px 10px #D3DEF2;
    border-radius: 15px;
    margin-bottom: 15px;
}

.guest-item .pic {/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
    width: 150px;
    height: 108px;
    margin-left: 20px;
}

.guest-item .pic image {
    width: 95px;
    height: 108px;
}

.guest-item .detail {
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}

.guest-item .detail .name {
    max-lines: 2;
    margin-right: 20px;
}

.guest-item .detail .name text {
    font-size: 14px;
    color: #111;
}

.guest-item .detail .corp text,.guest-item .detail .job text {
    font-size: 12px;
    color: #666;

}

.content-left {
    padding-right: 15px;
}

.side-menu-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
}

/*隐私弹窗*/


.dialog-main-content {
    width: 300px;
    margin-bottom: 20%;
    margin-top: 20%;

}

.dialog-div-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-top: 140px;
    background-image: url("/common/images/pic_conceal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.scroll-list-content {
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
}

.dialog-div-content .button-content {
    flex-direction: row;
}

.dialog-div-text-content {
    flex-direction: row;
    background-color: red;
    height: 300px;
}

.dialog-div-content .close-content image {
    width: 14px;
    height: 14px;
}

.dialog-div-content .success-pic-content {
    margin-bottom: 15px;
    justify-content: center;
}

.dialog-div-content .success-pic-content image {
    width: 100px;
    height: 50px;
}

.dialog-div-content .dialog-h1-content {
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.dialog-div-content .dialog-h1-content>div {
    justify-content: center;
}

.dialog-div-content .dialog-h1-content text {
    color: #333;
    font-size: 14px;
}

.dialog-div-content .dialog-h2-content {
    justify-content: center;
}

.dialog-div-content .dialog-h2-content text {
    color: #666;
    font-size: 12px;
}

.btn-go-content {
    background-color: #00000000;
    border-radius: 0px;
    height: 40px;
    width: 50%;
}

.btn-text-info-content {
    background-color: #00000000;
    border-radius: 0px;
    flex-direction: row;
    text-align: center;
}

.btn-text-info-title-content {
    font-size: 13px;
}

.btn-text-info-info-content {
    font-size: 11px;
    max-height: 100px;
    text-align: start;
    margin-top: 5px;
}
.dialog-div .dialog-h1 .text-info {
    margin-top: 5px;
    color: #666666;;
    font-size: 12px;
}
.dialog-div .dialog-h1 .text-center{
    text-align: center;
}

.btn-go-content text {
    font-size: 14px;
    color: #fff;
}

.dialog-conceal__content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 30px;
}

.dialog-conceal__content  .h2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #000;
    text-align: left;
}

.dialog-conceal__content  .h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #333333;
    text-align: left;
}

.dialog-conceal__content  .p {
    font-size: 14px;
    color: #666666;
    text-align: left;
}

/*隐私弹窗*/

.dialog-main2 {
    width: 80px;
    height: 80px;
    margin-bottom: 50%;
}

.dialog-div2 {
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
}

.dialog-div2 .close {
    justify-content: flex-end;
}

.dialog-div2 .close image {
    width: 14px;
    height: 14px;
}

.dialog-div2 .success-pic {
    margin-bottom: 15px;
    justify-content: center;
}

.dialog-div2 .success-pic image {
    width: 100px;
    height: 50px;
}

.dialog-div2 .dialog-h1 {
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.dialog-div2 .dialog-h1 div {
    justify-content: center;
}

.dialog-div2 .dialog-h1 text {
    color: #333;
    font-size: 14px;
}

.dialog-div2 .dialog-h2 {
    justify-content: center;
}

.dialog-div2 .dialog-h2 text {
    color: #666;
    font-size: 12px;
}

.min-progress {
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    color: #AFACAC;
}

.btn-go3 {
    height: 1px;
    background-color: #00000000;
    width: 1px;
}
.flex-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.border{
    border: 1px solid red
}
.detail .guest-duty-box{
    display:flex;
    flex-shrink: 0;
    margin-top: 5px;

}
.pb24{
    padding-bottom: 24px;
}
.guest-duty-box .ibc-guest,.guest-duty-box .ibc-duty{
    color: #999999;
    font-family: MicrosoftYaHei;
    font-size: 11px;
/*    height: 17px;*/
/*    line-height: 17px;*/
    max-lines: 2;
    text-overflow:ellipsis;
}
.guest-duty-box .ibc-guest{
/*    height: 17px;*/
/*    border: 1px solid red;*/
}
.guest-duty-box .ibc-duty{
/*    height: 40px;*/
/*    border: 1px solid red;*/
    overflow: hidden ;
    text-overflow: ellipsis;
    max-lines: 2;
    width:80%;
    margin-right: 5px;
}
.guest-duty-box .guest-line{
    height: 11px;
    width: 1px;
    background-color: #999;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.hudong-box{
    display:flex;
    flex-direction: column;
/*    border:1px solid red;*/
}
.detail-image{
    border-radius: 8px;
    width: 340px;;
    height: 180px;;
}
.addBox{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.addBox text{
    font-size: 14px;
    font-family: MicrosoftYaHei;
    color: #FFBE4D;
    line-height: 21px;
    text-decoration: underline;
}