
body {
  margin: 0;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
[v-cloak] {
    display: none;
}
.dialog-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
}
.top-image{
    position: absolute;
    right: 0;
    width: 204px;
    height: 308px;
    top: 0;
}
.tourGuide-container {
    width: 90%;
   /* max-width: 340px; */
    height: calc(100vh - 40px);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    user-select:none;
}
.tourGuide-box{
    position: relative;
    height: 100%;
}
.tourGuide-box >img{
  height: 100%;
}
.tourGuide-bg {
  width: 988px;
  height: calc(100vh - 40px);
}
.tourGuide-points {
  width: 988px;
  height: calc(100vh - 40px);
  position: absolute;
  left: 0;
  top: 0;
  pointer-events:none;
}

.tourGuide-direction{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: auto;
    // transform-origin: 48.95px 46px;
}

.dialog-main {
    width: 340px;
    border: none !important;
    outline: none !important;
    border-radius: 12px;
    position: fixed;
    left: calc((100% - 340px) / 2);
    top: 50%;
    transform: translateY(-50%);
    background-color: canvas;
}
.dialog-mains{
     width: 32px;
    height: 32px;
    border-radius: 500px;
    margin-bottom: 0;
}
.dialog-div{
    padding: 16px;
    background-image: url("../images/tourGuide-popup-bg.png");
    background-size: 100% 100%;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.sanyapo{
    width: 100%;
    height: 174px;
}
.dialog-div .top{
    display: flex;
    align-items: flex-end;
}
.dialog-div .top .title{
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #293C5D;
    margin-top: 13px;
	
}
.dialog-div .top .live-image{
   margin-left: 16px;
   width: 11px;
   height: 12px;
   margin-bottom: 2px;
}
.dialog-div .top .live-text{
    font-size: 10px;
    font-family: MicrosoftYaHei;
    color: #949EAE;
    margin-left: 5px;
}
.dialog-div .info{
    font-size: 11px;
    font-family: MicrosoftYaHei;
    color: #949EAE;
    line-height: 16px;
    height: 80px;
    text-overflow: ellipsis;
    overflow: scroll;
    margin-top: 10px;
}
.dialog-div .voice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.dialog-div .voice .voice-box{
    width: 49%;
    height: 64px;
    background-image: url("../images/tourGuide-popup-small-bg.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.dialog-div .voice .voice-box .title{
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #293C5D;
    max-lines: 1;
    margin-left: 12px;
    margin-top: 11px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 5px;
	width: calc(100% - 20px);
}
.dialog-div .voice .voice-box .voice-flex{
    display: flex;
    align-items: flex-end;
    margin-left: 12px;
    margin-top: 9px;
}
.dialog-div .voice .voice-box .voice-flex img{
    width: 22px;
    height: 21px;
}
.dialog-div .voice .voice-box .voice-flex span{
    font-size: 10px;
    font-family: MicrosoftYaHei;
    color: #949EAE;
    margin-bottom: 3px;
    margin-left: 4px;
}
.dialog-div .end{
    width:78px;
    height: 26px;
    background-image: url("../images/card-button2.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.dialog-div .end span{
    font-size: 13px;
    font-family: MicrosoftYaHei;
    color: #293C5D;
}
.close-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -40px;
}
.close{
    width: 32px;
    height: 32px;
    border-radius: 500px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-box .close img{
    width: 14px;
    height: 14px;
}