.container {
/*    position: absolute;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*    bottom: 0;*/
    width: 100%;
    background-image: url("/common/images/bg-login.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    height: 1270px;

}

.header {
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    top:0;
    left: 0;
    background-image: url("/common/images/title_bg.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    padding-top: 40px;

}



.header .back {
    width: 40px;
}

.header .menu {
    width: 40px;
}

.header image {
    height: 18px;
    width: 18px;
}
.kv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.kv image {
    width: 100%;
    height: 454px;
}
.swiper,.swiper2 {
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 164px;
    indicator-color: #C5D2D9;
    indicator-size: 5px;
    indicator-bottom: 10px;
    indicator-right: 140px;
}
.swiper2{
    height: 220px;
}
.swiperContent {
    height: 100%;
    justify-content: center;
}
.i-title{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
.i-title .h1{
    background-image: url("/common/images/icon-title.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size:7px 14px;
    padding-left: 12px;
}
.i-title .h1 text{
    font-size: 16px;
    color: #111111;
}
.i-title .more{
    background-image: url("/common/images/icon-more.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size:13px 4px;
    padding-right: 15px;
}
.i-title .more text{
    font-size: 10px;
    color: #111111;
}
.box {
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    top: 240px;
    width: 100%;
}
.address{
    height: 260px;
}
.tabs {
    width: 100%;
}
.tab-content {
    width: 100%;
    height: 220px;
    justify-content: center;
    background-image: url("/common/images/tab-content.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: 0;

}
.item-content {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}

.tab-bar {
    height: 40px;
    background-image: url("/common/images/tab-bar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    margin: 0;
    border:0
}
.tab-text {
    width: 300px;
    text-align: center;
    font-size: 14px;
}
.map-box{
    position: relative;
}
.map-box .map{
    width: 100%;
    height: 147px;
    position: relative;
    border-radius: 10px;
}
.address{
    margin-left: 10px;
    margin-top: 10px;
}
.address .num{
    width: 40px;
}
.address .num text{
    font-size: 26px;
    color: #F0574C;
}
.address .add-detail text{
    font-size: 12px;
    color: #666;
}
.address .add-detail{
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;

}
.address .add-detail .date{
    width: 100%;
}
.address .add-detail .add{
    width: 100%;
}
.map-box .location1,.map-box .location2{
    position: absolute;

}
.map-box .location1{
    width: 38px;
    height: 38px;
    top:20%;
    right: 30%;
}
.map-box .location2{
    width: 30px;
    height: 30px;
    top:50%;
    left: 30%;
}
.contact{
    background-image: url("/common/images/bg-contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    margin-bottom: 40px;
    height: 73px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 13px 20px #DEE7F2;
    border-radius: 20px;
}
.contact text{
    font-size: 12px;
    color: #333;
}
.contact image{
    width: 37px;
    height: 37px;
    margin-right: 10px;
}
.guest-item{
    width: 330px;
    height: 190px;
    background-image: url("/common/images/photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    flex-direction: row;
}
.guest-item .pic{
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
    flex: 1;
    height: 190px;
}
.guest-item .pic image{
    width: 100%;
    height: 190px;
}
.guest-item .detail{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}
.guest-item .detail .name text{
    font-size: 22px;
    color: #111;
}
.guest-item .detail .corp text,.guest-item .detail .job text{
    font-size: 12px;
}
.agenda-item{
    width: 340px;
    height: 148px;
    background-image: url("/common/images/agenda.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    flex-direction: row;
    position: relative;
}
.agenda-item .agenda-content{
    padding: 25px 25px;
    flex-direction: column;
}
.agenda-item .agenda-content .meeting-name{
    font-size: 12px;
    color: #444;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-lines:2

}
.agenda-item .agenda-content .meeting-address{
    background-image: url("/common/images/icon-location.png");
    background-position:left center;
    background-repeat: no-repeat;
    background-size:10px 12px;
    padding-left: 15px;
    margin-top: 10px;
}
.agenda-item .agenda-content .meeting-address text{
    font-size: 11px;
    color: #888;
}
.agenda-item .agenda-bottom{
    position: absolute;
    left: 25px;
    bottom: 10px;
    right: 25px;
    flex-direction: row;
}
.agenda-item  .meeting-date{
    background-image: url("/common/images/icon-date.png");
    background-position:left center;
    background-repeat: no-repeat;
    background-size:10px 10px;
    padding-left: 15px;
    width: 200px;
    position: absolute;
    left: 25px;
    bottom: 10px;
}
.agenda-item .meeting-date text{
    font-size: 11px;
    color: #444;
}
.agenda-item  .label{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.agenda-item  .label text{
    color: #ffffff;
    font-size: 11px;
}



