.container {
    flex-direction: column;
    background-color: #FAFAFA;
}
.topImage {
    background-image: url("/common/images2/ticket-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    left: 0;
    height: 369px;
    top: 0;
}

.header {
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding-top: 40px;
/*    background-image: url("/common/images/ticket-top-bj.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 80px;*/
   padding-bottom: 5px;
    background-color: #ffffff;
}


.slogo {
    width: 180px;
    object-fit: contain;
    height: 45px;
}

.slogo-view {
    top: 80px;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.bottem-info {
    height: 40px;
    width: 180px;
    object-fit: contain;

}

.bottem-info-view {
    top: 5px;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-text {
    font-size: 16px;
    color: #000000;

}
.header image {
    height: 18px;
    width: 18px;
}
.right-menu{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}
.right-menu .desktop-image{
    width: 17px ;
    height: 14px;
    right:5px;
}
.desktop-text{
    font-size: 12px;
    color: #000000;
    margin-right: 15px;
}
/* @media (dark-mode: false) {
    .header {
        position: fixed;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        top:0;
        left: 0;
        background-color: transparent;
        padding-top: 40px;
        padding-bottom: 5px;
        background-image: url("/common/images/black.png");
        background-repeat: no-repeat;
        background-size: 100% 80px;

    }

    .header-text {
        font-size: 16px;
        color: white;
    }

    .header-menu {
        width: 40px;
        background-image: url("/common/images/icon-mean-white.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }
    .header-back {
        width: 100px;
        margin-left: 15px;
        background-image: url("/common/images/icon-back-white.png");
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }
} */
.list-top{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
    align-items: center;
    background-image: url("/common/images2/contact-bg.png");
    background-size: 100% 100%;
    width: 100%;
    height: 126px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 8px;
    margin-top: 16px;
}
.list-email{
    height: 91px;
}
.list-image{
    width: 95px;
    height: 95px;
    margin-left: 18px;
}
.email-image{
    width: 95px;
    height: 59px;
    margin-left: 18px;
}
.list-font{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}
.font1{
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: #293C5D;
}
.font2{
    font-size: 12px;
    font-family: MicrosoftYaHei;
    color: #949EAE;
    margin-top: 5px;
    width:200px;
}
.header-back {
    width:85px;
    margin-left: 15px;
    background-image: url("/common/images/icon-back.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.header-menu {
    width: 40px;
    background-image: url("/common/images/icon-menu.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

@media (device-width > 1800) {
    .bg {
        background-size: 100% 1092px;
        height: 1092px;
    }
}
@media (device-width > 1800) {
    .qrcode {
        margin-top: 100px;
        width: 300px;
        height: 300px;
    }
    .slogo {
        width: 260px;
        object-fit: contain;
        height: 80px;
    }

    .slogo-view {
        top: 160px;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .title-bg {
        width: 100%;
        margin-top: 100px;
        justify-content: center;
    }

    .title {
        font-size: 30px;
        color: #000000;
    }


}
