/*风景卡片1x2*/
.div-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 5px;
}
.title{
    font-size: 12px;
    transform: scale(0.8);
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    margin-top: 3px;
    text-align: center;
    width: 100%;

}
.titles{
    font-size: 10px;
    transform: scale(0.8);
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    margin-top: 10px;
    width: 100%;

}
.meeting_1x2_div-card {
    background-image: url("/common/meeting_1x2_card-bg-1.png");
    background-size: 100% 100%;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.div-actions {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.div-action-container {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.left {
    margin-left: 46%;
}

.right {
    margin-right: 45%;
}

.img-action {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    object-fit: contain;
}
.img-actions {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    object-fit: contain;
}
.img-action-cirle {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;

}
.border-orange{

}