.dialog-main {
    width: 300px;
    margin-bottom: 20%;
    margin-top: 20%;

}

.dialog-div {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-top: 140px;
    background-image: url("/common/images/pic_conceal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.scroll-list{
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
}

.dialog-div .button {
    flex-direction: row;
}

.dialog-div-text {
    flex-direction: row;
    background-color: red;
    height: 300px;
}

.dialog-div .close image {
    width: 14px;
    height: 14px;
}

.dialog-div .success-pic {
    margin-bottom: 15px;
    justify-content: center;
}

.dialog-div .success-pic image {
    width: 100px;
    height: 50px;
}

.dialog-div .dialog-h1 {
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.dialog-div .dialog-h1>div {
    justify-content: center;
}

.dialog-div .dialog-h1 text {
    color: #333;
    font-size: 14px;
}

.dialog-div .dialog-h2 {
    justify-content: center;
}

.dialog-div .dialog-h2 text {
    color: #666;
    font-size: 12px;
}
.btn-go text {
    font-size: 14px;
    color: #fff;
}

.dialog-conceal__content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 30px;
}

.dialog-conceal__content  .h2 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #000;
    text-align: left;
}

.dialog-conceal__content  .h4 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #333333;
    text-align: left;
}

.dialog-conceal__content  .p {
    font-size: 14px;
    color: #666666;
    text-align: left;
}