
.header {
    position: fixed;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-image: url("/common/images/agenda-top.png");
    background-repeat: no-repeat;
    background-size: 100% 80px;
    padding-top: 40px;
    padding-bottom: 10px;

}
