.container {
    flex-direction: column;
    background-image: url("/common/images/bg-help.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fafafa;
    background-position: center bottom;
    position: relative;
}

.header {
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding:40px 16px 5px;
    background-color: #fff;
}
.header-text {
    font-size: 16px;
    color: #000000;
    font-weight: 500

}
.header-back image {
    height: 18px;
    width: 18px;
}
.header-menu {
    width: 18px;
}

.right-fix image{
    position: absolute;
    right: 0;
    top: 0;
    width: 204px;
    height: 308px;
}
.task{
    display: flex;
    flex-direction: column;
    padding: 0% 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 100px 17px 8px;
}
.task-top1{
    height: 18px;
    width: 100%;
}

.task-block{
    padding: 18px 9px ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.borders{
    border-bottom: 1px solid #E4E4E4;
}
.task-left{
    display: flex;
    flex-direction: column;
    padding:18px 9px 18px 9px;
}
.task-title{
    font-size: 14px;
    color: #293C5D;
    font-weight: bold;
/*    max-lines: 1;*/
    margin-right: 12px;
}
.describe{
    font-size: 12px;
    color: #949EAE;
    width: 100%;
    margin-top: 4px;
    line-height: 18px;
}

.task-top{
   display: flex;flex-direction: column;
/*    height: 60px;*/
}
.task-top-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.progress{
    display: flex;
    align-items: center;

    height: 15px;
}
.progress-num{
font-size: 10px;
    color: #EA4A6F;
}
.progress-line{
    width: 52px;
    height: 2px;
    background-color: #D8D8D8;
    border-radius: 1px;
    margin-left: 9px;
}
.progress-now{
    width: 52px;
    height: 2px;
    background-color: #EA4A6F;
/*    border-radius: 1px;*/
    width: 10%;
}
.sign{
width: 70px;
    height: 24px;
    background-color: #FFBE4D;
    border-radius: 12px;
    text-align: center;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign text{
font-size: 12px;
    color: #FFFFFF;
}
.task-btn{
    border-radius: 12px;
    border: 1px solid #FFBE4D;
    width: 82px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
/*    position: absolute;*/
/*    right: -10px;*/
/*    top: 0;*/
}
.task-btn text{
  font-size: 12px;
    color: #FFBE4D;
}

.tips{
    display: flex;
    align-items: flex-start;
    margin: 0px 17px 20px;
}
.tips image{
    width: 12px;
    height: 12px;
    margin-top: 5px;
}
.tips text{
   font-size: 11px;
    color: #999999;
    margin-left: 5px;
    line-height: 17px;
}
.finish{
    display: flex;
    align-items: center;
/*    margin-top: 5px;*/
}
.finish image{
    width: 9px;
    height: 9px;
    margin-left: 5px;
}
.dialog-main2 {
    width: 80px;
    height: 80px;
    margin-bottom: 50%;
}
.dialog-div2 {
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
}
.min-progress {
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    color: #AFACAC;
}
.btn-go3 {
    height: 1px;
    background-color: #00000000;
    width: 1px;
}
.mt5{
    margin-top: 10px;
}
.dialog-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding:14px 14px 32px;
    background-color: #ffffff;
}
.close{
    display: flex;align-items: flex-end;justify-content: flex-end;
}
.close image{
    width: 14px;
    height: 14px;
}
.dialog-content{
    display: flex;
    flex-direction: column;
}
.dialog-content image{
    width: 110px;
    height: 54px;
    margin-top: 3px;
}
.dialog-tip{
    font-size: 14px;
    color: #333333;
    margin-top: 16px;
/*    display: flex;*/
/*    justify-content: center;*/
/*    text-align: center;*/
}
.dialog-con{
    font-size: 12px;
    color: #666666;
    margin-top: 5px;
    text-align: center;
}
.ok{
    width: 210px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #FFBE4D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}
.ok text{
    font-size: 14px;
    color: #FFBE4D;
}

.dialog-interact{
    position: relative;
    width: 320px;
    position: fixed;
    top: 30%;
    background-color: #fff;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999999;
    max-height: 470px;
    transition: all 1s ease;
}