.card-bg{
    width: 100%;
    height: 100%;
    background-image:url("/common/yicheng-bg.png");
    background-size: 100% 100%;
/*    padding:0 7%;*/
    display: flex;
    flex-direction: column;
/*    padding-top: 10px;*/
/*    margin: 0% 7%;*/
}
.content_div{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mr10{
    margin-right: 10px;
}
.hdc-logo{
    width: 32%;
    height: 7.3%;
    left: 10px;
    object-fit: contain;
}

.card-bg-time{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Light;
    color: #378AF6;
}
.card-bg-title{
/*    font-size: 12px;*/
/*    font-family: HarmonyOS_Sans_SC_Medium;*/
/*    color: rgba(0,0,0,0.9);*/
/*    margin-top: 6%;*/
/*    line-height: 16px;*/
    margin-top: 2px;
    color: black;
    opacity: 0.9;
    font-size: 12px;
    font-weight: 500;
    max-lines: 2;
    line-height: 14px;
    text-overflow: ellipsis;
}
.card-bg-live{
/*    margin-top: 5px;*/
    align-items: center;
    min-height: 7.8%;
}
.address_div{
    margin-top: 3px;
    align-items: center;

    display: flex;
}

.card-bg-live-text{
    font-size: 10px;
    margin-left: 2.6%;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #949EAE;
    max-lines: 2;
    text-overflow: ellipsis;
}
.card-bg-button1{
    align-items: center;
    margin: 0 5%;
    width: 100%;
    justify-content: center;
    height:24px;
    background-repeat: no-repeat;
    background-image: url("/common/card-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
/*    width: 96%;*/
/*    margin-left: 3%;*/
/*    height: 22px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-top:5.3%;*/
/*    background-image: url("/common/card-button.png");*/
/*    background-size: 100% 100%;*/
/*    background-repeat: no-repeat;*/
}
.card-button-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:6.3%;
}
.card-button-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0% 5%;
}
.card-bg-button2{
    width: 49%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/common/card-button2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.button-text{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC;
    color: #000000;
}
.vip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height:35px;
/*    border-radius: round;*/
/*    background-color: #ffffff;*/
    background-image: url("/common/white-cirle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    right:2%;
    /*top:0.3%;*/
}
.vip-text1{
    font-size: 10px;
    color: #008BFE;
    font-family: HarmonyOS_Sans_SC_Bold;
}
.vip-text2{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Bold;
    color: #008BFE;
}

.card-bg1{
    background-image:url("/common/sign-bg.png");
    background-size: 100% 100%;
}
.sign-right{
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    height: 27px;
}
.sign-info{
    display: flex;
    align-items: center;
    margin: 7.3% 10px 0 10px;
}
.sign-bg{
    width: 61px;
    height: 107px;
    border-radius: 4px;
}
.sign-rights{
    display: flex;
    flex-direction: column;
    height: 107px;
    justify-content: space-between;
    margin-left: 6.6%;
    align-items: center;
}
.sign-box{
    width:38px;
    height:38px ;
    background-color: #eff5ff;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign1{
    width: 25px;
    height: 22px;
}
.sign2{
    width: 22px;
    height: 26px;
}
.sign3{
    width: 22px;
    height: 25px;
}
.sign-end{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-end1{
    font-size: 14px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
}
.sign-end2{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Light;
    color: #378AF6;
}
.sign-end3{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Light;
    color: #378AF6;
}
.qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qrcode-bg{
    background-image: url("/common/qrcode-bg.png");
    background-size: 100% 100%;
    width: 95px;
    height: 95px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}
.qrcode-image{
    width: 86px;
    height: 86px;
}
.ticket{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.qrcode-text{
    font-size: 14px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    margin-top: 5%;
}
.ticket-image{
    width: 44px;
    height: 32px;
}
.ticket-text{
    font-size: 14px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    margin-top: 15%;
}
.card-bg2{
    width: 100%;
    height: 100%;
    background-image:url("/common/jifen-bg.png");
    background-size: 100% 100%;
/*    padding:0 7%;*/
    display: flex;
    flex-direction: column;
}
.card-bg3{
    width: 100%;
    height: 100%;
    background-image:url("/common/sign-bg-tips.png");
    background-size: 100% 100%;
/*    padding:0 7%;*/
    display: flex;
    flex-direction: column;
}
.jifen-title{
    font-size: 12px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    margin-top:7.3%;
}
.align-statr{
    align-items: flex-start;
}
.ml2{
    margin-left: 2px;
}
.card-jifen-text{
    display: flex;
    align-items: flex-end;
    margin-top:15%;
/*    margin-bottom: 5%;*/
}
.card-jifen-text1{
    font-size: 12px;
    font-family: HarmonyOS_Sans_SC_Bold;
    color: #378AF6;
}
.card-jifen-text2{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Light;
    color: #378AF6;
    margin-left: 3.3%;
}
.jifen-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 20px;
    background-image: url("/common/cirle.png");
    background-size: 100% 100%;
    margin-left: 2%;

}
.jifen-box-text{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #569cf7;
}
.lh24{
    line-height: 14px;
}
.mt11{
    margin-top: 9%;
}
.card-bg-live-images{
    width:6px ;
    height: 8px;
/*    margin-top: 20%;*/
    object-fit: contain;
}
.card-bg-live-image{
    width: 6px;
    height: 8px;
    object-fit: contain;
}
.syp-title{
    margin-top: 9.3%;
    font-size: 14px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
}
.syp-sub{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #949EAE;
    margin-top: 2%;
}
.syp-video{
    width:100%;
    height: 53px;
    margin-top:3.7%;
}
.syp-video-image{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.syp-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.syp-box-image{
    width: 24px;
    height: 24px;
}
.syp-box-text{
   margin-left:4.6% ;
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #FFFFFF;
}
.syp-tips{
    margin-top: 3.3%;
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #949EAE;
}
.sign-top{
    display: flex;
    align-items: center;
    margin: 7.2% 10px 0 10px;
}
.sign-top-text{
    font-size: 16px;
    font-family: HarmonyOS_Sans_SC_Black;
    color: #378AF6;
    margin-left: 6.7%;
    width:68%;
}
.food{
    width: 21px;
    height: 18px;
}
.live-big{
    width:17px;
    height: 20px;
}
.sign-mid{
    display: flex;
    align-items: center;
    margin-top: 1.3%;
}
.sign-time{
    width: 7px;
    height: 8px;
    object-fit: contain;
}
.sign-time-text{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #378AF6;
    margin-left: 2.3%;
    width: 100%;
}
.sign-food-tips{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: rgba(0,0,0,0.9);
    margin-top: 7px;
    width: 100%;
    line-height: 11px;

}
.sign-food-end{
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
}
.sign-food-end-image{
    width: 6px;
    height: 8px;
    object-fit: contain;
}
.sign-food-end-text{
    font-size: 10px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #949EAE;
    max-lines: 3;
    text-overflow: ellipsis;
    margin-left: 2.6%;
}
.pr6{
    padding-right: 3.5%;
}
.sign-live-top{
/*    margin-top: 14.7%;*/
    display: flex;
    flex-direction: column;
    margin: 24px 10px 0 10px;
}
.sign-flex{
    display: flex;
    align-items: center;
}
.sign-liv-image-box{
    width: 11px;
}
.sign-live-image1{
    width: 9px;
    height: 16px;
    margin-right: 2px;
}
.sign-live-image2{
    width: 11px;
    height: 11px;
}
.sign-live-tips{
    font-size: 12px;
    font-family: HarmonyOS_Sans_SC_Medium;
    color: #949EAE;
}
.mt4{
    margin-top: 4%;
}
.swiper{
    width: 100%;
    height: 100%;
}

.swiper-item{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.card-bg-date{
/*    font-size: 12px;*/
/*    font-family: HarmonyOS_Sans_SC_Black;*/
/*    color: #378AF6;*/
    font-size: 12px;
    color: #378AF6;
    font-weight: 500;
    height: 12.5%;
}
.time_period_div {
    height: 12.5%;
}

.hourMinute {
    color: #1F69FF;
    font-size: 10px;
}
.button_container {
    justify-content: center;
    position: absolute;
    bottom: 10%;
}


.button_container1 {
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.bg-white{
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}